body{
    margin: 0;
    padding: 0;

    background: url(../img/background.svg) no-repeat;
    background-size: cover;
    background-position: top center;

    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: #444;
}

/***************
*
* NORMALIZE
*
***************/

*, *:before, *:after{
    box-sizing: border-box;
    transform-origin: 50% 50%;
    outline: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.6em;
}

/***************
*
* HELPERS
*
***************/

.relative{
    position: relative;
}

.align-right{
    text-align: right;
}

.valign--flex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.mt{
    margin-top: 100px;
}

.mt--big{
    margin-top: 200px;
}

/***************
*
* FONTS
*
***************/

@font-face {
    font-family: 'hobgoblin';
    src: url('fonts/Hobgoblin/dk_hobgoblin-webfont.eot');
    src: url('fonts/Hobgoblin/dk_hobgoblin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Hobgoblin/dk_hobgoblin-webfont.woff2') format('woff2'),
    url('fonts/Hobgoblin/dk_hobgoblin-webfont.woff') format('woff'),
    url('fonts/Hobgoblin/dk_hobgoblin-webfont.ttf') format('truetype'),
    url('fonts/Hobgoblin/dk_hobgoblin-webfont.svg#dk_hobgoblinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***************
*
* GRID
*
***************/

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

    .container:after{
        content: "";
        display: table;
        clear: both;
    }

    .container--large{
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .container--relative{
        position: relative;
    }

    .container--mb{
        margin-bottom: 150px;
    }


.container--flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

[class*="col-"]{

}

.col--grow{
    flex-grow: 1;
}

.col--no-shrink{
    flex-shrink: 0;
}

.col-1-2{
    flex-basis: 50%;
}

.col-1-3{
    flex-basis: 33.33%;
}

.col-1-4{
    flex-basis: 25%;
}

/*
Section
*/

.section{

}

    .section--full{
        min-height: 100vh;
    }

    .section--padding{
        padding: 150px 0;
    }

    .section--flex{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .section--relative{
        position: relative;
    }

/****************
*
* Styling
*
****************/

/*
General
*/

.heading{
    font-family: 'hobgoblin';
    font-size: 40px;
    color: #153e5b;
    line-height: 1.6em;
}

    .heading--big{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 150px;
    }

    .heading--medium{
        font-size: 42px;
        opacity: 0.8;
        line-height: 42px;
    }

    .heading--sub{
        font-size: 24px;
        opacity: 0.6;
    }

/*
Header
*/

.header{
    position: relative;
    height: 95vh;
}

    .header__socials{
        position: relative;
        z-index: 10;
        float: right;
        background: url(../img/social-background.png) no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
        width: 180px;
        height: 100px;
        padding: 0 30px;
    }

        .socials__inner{
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .socials__inner a{
            display: block;
            transition: all 0.2s ease-in-out;
            -webkit-filter: drop-shadow(0 0 0px rgba(0,0,0,0.6));
        }

        .socials__inner a:hover{
            display: block;
            -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,0.6));
            transform: scale(1.1) translate(0, -3px);
        }

        .socials__inner a + a{
            margin-left: 15px;
        }

    .header__logo{
        position: absolute;
        z-index: 1;
        height: 250px;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header__nav{
        font-family: "hobgoblin";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 10vh;
    }

        .header__nav ul{
            position: absolute;
            margin: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }

        .header__nav li{
            font-size: 40px;
            line-height: 47px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .header__nav li:before{
                content: "";
                background: url("../img/rope.svg") repeat-y;
                flex-basis: 100vw;
                z-index: -1;
                top: 0;
                bottom: 50px;
                width: 3px;
                order: -2;
            }

            .header__graine{
                display: block;
                background: url("../img/graine.png") no-repeat;
                background-size: contain;
                flex-basis: 80px;
                flex-shrink: 0;
                flex-grow: 0;
                top: 0;
                height: 80px;
                width: 80px;
                order: -1;
                margin: 0 auto;
                margin-bottom: 40px;
                transform-origin: 50% 0;
                transform: translate3d(0, -15px, 0);
            }

            .header__nav li:first-child{
                transform: translate3d(0, -60px, 0);
            }

            .header__nav li:nth-child(2){

            }

            .header__nav li:nth-child(3){

            }

            .header__nav li:last-child{
                transform: translate3d(0, -40px, 0);
            }

        .header__nav a{
            display: block;
            min-width: 180px;
            text-align: center;
            text-decoration: none;
            color: #153e5b;
            text-transform: uppercase;
        }

    .header__nuage{
        position: absolute;
    }

        .header__nuage--1{
            width: 400px;
            height: 200px;
            background: url(../img/nuage-1.png) no-repeat;
            background-size: contain;
            z-index: 0;
            transform: translate3d(50vw, 40px, 0);
        }

        .header__nuage--2{
            width: 400px;
            height: 200px;
            background: url(../img/nuage-2.png) no-repeat;
            background-size: contain;
            -webkit-filter: blur(9px);
            z-index: -2;
            opacity: 0.8;
            transform: translate3d(10vw, 120px, 0);
        }

        .header__nuage--3{
            width: 600px;
            height: 300px;
            background: url(../img/nuage-3.png) no-repeat;
            background-size: contain;
            -webkit-filter: blur(6px);
            opacity: 0.7;
            z-index: -1;
            transform: translate3d(70vw, 40px, 0);
        }
        
/*
Le client
*/

.client{
    background: rgba(255,255,255,0.8);
    background-size: cover;
}

    .client:before{
        content: '';
        position: absolute;
        background-image: url(../img/osons-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: 80%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .client:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 50vw;
        height: 90vh;
        background-image: url(../img/osons-icon.svg);
        background-position: right -25vw top -50vh;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.1;
    }

    .client__introduction-wrapper{
        display: flex;
        flex-direction: row;
    }

    .client__introduction{

    }

        .client__introduction .heading--big{
            margin-bottom: 50px;
        }

        .client__logo{
            flex-grow: 1;
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

            .client__logo img{
                flex-basis: 40%;
            }

    .valeurs{
        position: relative;
        z-index: 0;
    }

    .valeurs__slider{
        width: 100vw;
        z-index: -1;
        left: 0;
        right: 0;
        font-family: "hobgoblin", sans-serif;
        font-size: 130px;
        white-space: nowrap;
        opacity: 0.6;
        color: #153e5b;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform: translate3d(30vw, 0, 0);
        cursor: -moz-grab; cursor: -webkit-grab; cursor: grab;
    }

        .valeurs__slider:active{
            cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing;
        }

        .valeurs__mot{
            position: relative;
            padding: 0 50px;
        }
        
            .valeurs__mot:after{
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #000e2b;
                top: 50%;
                right: 0;
                opacity: 1;
                transform: translate(50%, -50%);
            }

    .timeline{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin-top: 70px;
    }
    
    .timeline:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        background: #f00;
        transform: translate(0, 86px);
    }
    
        .timeline__point{
            padding: 0 45px;
            position: relative;
            display: flex;
            flex-direction: column;
        }

            .timeline__point header{
                flex-basis: 50px;
                flex-grow: 0;
                flex-shrink: 0;
            }

            .timeline__date{
                font-size: 12px;
                font-family: 'hobgoblin', sans-serif;
                opacity: 0.7;
            }

            .timeline__heading{
                text-transform: uppercase;
                font-family: 'hobgoblin', sans-serif;
                font-size: 24px;
            }

            .timeline__heading:after{
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                background: #f00;
                border-radius: 50%;
                left: 50%;
                transform: translate(-50%, 30px);
            }

            .timeline ul{
                text-align: left;
                width: 100%;
                list-style: none;
                padding: 20px;
                margin: 0;
                margin-top: 80px;
                background: #fff;
                border: solid 1px #ddd;
            }

            .timeline li:last-child p:last-child{
                margin-bottom: 0;
            }
        
/*
Le concept
*/

.introduction{

}

    .introduction__heading{
        line-height: 40px;
        /*position: absolute;
        left: 50%;
        transform: translate(-50%, 0);*/
        white-space: nowrap;
    }

    .text-swap-static{
        display: inline-block;
    }

    .text-swap{
        opacity: 1;
        transform: translate3d(0,0,0);
        display: inline-block;
        vertical-align: top;
        text-align: left;
        line-height: 40px;
    }

    .introduction__device-wrapper{
        float: right;
        margin-right: 100px;
        margin-left: 100px;
        position: relative;
    }

    .introduction__iphone{
        width: 200px;
        height: 405px;
        background: url(../img/iphone.svg) no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        transform: translate(100px, 0);
    }

        .iphone__slider{
            background: url(../img/game/mobile-background.png);
            -webkit-background-size:cover;
            background-size:cover;
            width: 161px;
            height: 300px;
            position: relative;
            transform: translate(21px, 50px);
            overflow: hidden;
        }

            .iphone__slider > *{
                width: 100%;
                height: auto;
                opacity: 0;
                position: absolute;
                transform: translate3d(0, 100%, 0);
                transition: all 0.5s ease-in-out;
            }

                .iphone__slider > .active{
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }

            .iphone__slider:before, .imac__slider:before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 20;
                pointer-events: none;
                box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
            }

    .introduction__imac{
        position: relative;
        width: 874px;
        height: 700px;
        background: url(../img/imac.svg) no-repeat;
        background-size: contain;
        margin-left: auto;
    }

        .imac__slider{
            background: #fff;
            width: 798px;
            height: 450px;
            position: relative;
            overflow: hidden;
            transform: translate(34px, 33px);
        }

            .imac__slider:after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 798px;
                height: 88px;
                background: url(../img/game/desktop-menu.png);
                background-position: center;
                background-size: contain;
            }

            .imac__slider img{
                width: 100%;
                height: auto;
            }

    /* Slick */

    .slick-arrow{
        position: absolute;
    }